/* Tablet Mobile*/
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 10;
        right: 0;
        left: 0;
        top: 0;
    }
    .cart-list {
        position: fixed;
        right: 0;
        width: 100%;
        top: var(--header-height);
        padding: 0 calc((100% - 644px)/2);
    }
    .cart-list::after {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar {
        display: flex;
    }
    .app__content {
        padding-top: 8px;
    }
    .mobile-category {
    display: flex;
    }
    .nav__bar-icon {
        display: block;
    }
    
}

/* Table */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet {
        display: none;
    }
    .header__cart{
        width: 80px;
        text-align: right;
    }
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .nav__mobile {
        width: 20%;
    }
}

/* MObile */
@media (max-width: 739px) {
    
    .hide-on-mobile {
        display: none;
    }
    
    .header__with-search {
        justify-content: space-between;
    }
    .header__mobile-search {
        padding: 0 0px;
    }
    .header__logo,
    .header__cart {
        width: unset;
    }
    
    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        z-index: 1;
        height: 46px;
        box-shadow: 0 1px 2px #cfcbcb;
        padding: 0 10px 0 0;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    
    .search__history {
        position: fixed;
        top: calc(var(--header-height)+ var(--header-sort-bar-height));
        left: 0;
        /* right: 0; */
        width: 100%;
        box-shadow: 0 1px 2px #e9e9e9;
    }
    #mobile-search-checkbox:checked ~ .header__search{
        display: flex;
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link{
        --height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .app__content {
        margin: 0 4px !important
    }
    .header__mobile-search {
    display: block;
    }

    .logo-img {
        width: 110px;
    }
    .footer__content {
        padding: 10px 16px 0 !important
    }
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .footer__heading {
        text-align: center;
    }
     .footer__link,
     .footer__download {
         justify-content: center;
     }   
     .footer__download-apps {
         justify-content: space-around;
     }

     .header__logo-img {
    width: 130px;
}




    @keyframes mobileSearchSideIn {
        from {
            opacity: 0;
            top: calc(var(--header-height)/2);
        }
        to {
            opacity: 1;
            top: var(--header-height) ;
        }
    }
}